h1 {
	font-size: 50;
	padding: 20;
	color: gold;
}
body {
	background-repeat: space;
	background-position: center;
	background-blend-mode: overlay;


}

button {
	color: pink;
	display: flex;
	justify-content: center;
	font-size: 25px;
	margin: 28;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid #f44336;

}
p {
	font: sans-serif;
	padding: 5px;
	margin: 5px
	font-size: 25px;
	color: firebrick;
	text-shadow: blue;
}

img {
	justify-content: center;
	padding: 28px;

}

h2 {
	font-size: 40px;
	color: violet;
	padding:3px;
	margin:3px;
}
h5 {
	font-size: medium;
	font-family: sans-serif, cursive;
}

